![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [19]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

**Best Maths Schools -  That is Schools with at least 80 %, of the Possible 800 score for Maths**

In [20]:
#Creating a subset from the main dataframe which contains school name and average maths

maths_performance_in_schools = schools [['school_name', 'average_math']]

maths_performance_in_schools.head()

#Filter the maths_performance_in_schools with respect to schools with schools which had at least 80% of the totall scores for maths

best_math_schools_unsorted = maths_performance_in_schools[maths_performance_in_schools['average_math'] >= 640] # 80% of possible 800 is 640

best_math_schools = best_math_schools_unsorted.sort_values('average_math', ascending =False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

**Top 10 Performing Schools - Based on Combined SAT scores**

In [21]:
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

#Adding a New Column Called Total SAT 

schools['total_SAT']= schools['average_math'] + schools['average_reading'] + schools['average_writing']

print(schools.head())

#Subsetting the data using school and the total SAT scores
top_10_schools_unsorted = schools[['school_name', 'total_SAT']]

top_10_schools = top_10_schools_unsorted.sort_values('total_SAT', ascending = False).head(10)
print(top_10_schools)

                                         school_name  ... total_SAT
0  New Explorations into Science, Technology and ...  ...      1859
1                               Essex Street Academy  ...      1193
2                       Lower Manhattan Arts Academy  ...      1261
3    High School for Dual Language and Asian Studies  ...      1529
4      Henry Street School for International Studies  ...      1197

[5 rows x 8 columns]
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

**Borough with the largest Standard Deviation in Combined SAT scores**

In [22]:
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

#Adding a New Column Called Total SAT 

schools['total_SAT']= schools['average_math'] + schools['average_reading'] + schools['average_writing']


#Grouping the Data with Respect to the Borough 

# Step 1: Group by borough and compute count, mean, std
boroughs = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2)

# Step 2: Filter the borough with the largest std deviation
largest_std_dev = boroughs[boroughs['std'] == boroughs['std'].max()]

# Step 3: Rename columns as required
largest_std_dev = largest_std_dev.rename(columns={
    'count': 'num_schools',
    'mean': 'average_SAT',
    'std': 'std_SAT'
})